art==5.6
colorama==0.4.5
cryptography==37.0.2
Flask==2.3.2
Flask_Discord==0.1.64
Flask_hCaptcha==0.5.4
Flask_HTTPAuth==4.7.0
GitPython==3.1.27
google_auth_oauthlib==0.4.4
hurry==1.1
hurry.filesize==0.9
Jinja2==3.0.1
pip==22.1.2
protobuf==4.21.2
psutil==5.8.0
requests==2.25.1
stripe==3.4.0
Werkzeug==2.0.0
