<!DOCTYPE html>
<html>
<head>
<title>{{ businessName }} - Contact</title>
<link rel="stylesheet" href="/static/fontawesome/css/all.css">
{% include 'divs/themes/default.html' %}
</head>
<body>
{% include 'divs/navbar.html' %}
<div style="padding-left:16px">
  <h2>Contact</h2>
  <form method="POST">
    <input type="text" name="fullname" placeholder="Full name *" required>
    <input type="email" name="email" placeholder="Email *" required><br>
    <textarea name="message" rows="8" cols="80"></textarea><br>
    <button type="submit">Submit</button>
</div>

</body>
{% include 'divs/footer.html' %}
</html>
