<!DOCTYPE html>
<html>
<head>
<title>{{ businessName }} - Home</title>
<link rel="stylesheet" href="/static/fontawesome/css/all.css">
<link rel="stylesheet" href="/static/fontawesome/css/brands.css">
{% include 'divs/theme.html' %}
</head>
<body>
{% include 'divs/navbar.html' %}
<div style="padding-left:16px">
  <h2>Welcome to LoonaBilling! <i class="fa-solid fa-credit-card"></i></h2>
  <p>LoonaBilling is built to be as customisable as possible, to get started check out your Admin Dashboard.</p>
  <p><a href='/admin'>Admin Dashboard</a> | <a href="https://github.com/Loona-cc/LoonaBilling/wiki/Files">Editing Files</a> | <a href='https://github.com/Loona-cc/LoonaBilling/wiki/Modules'>Creating Modules</a></p>
  <p><a href='https://github.com/Loona-cc/LoonaBilling'><i class="fa-brands fa-github"></i></a> <a href='https://loona.cc'><i class="fa fa-link"></i></a></p>
</div>

</body>
{% include 'divs/footer.html' %}
</html>
