<!DOCTYPE html>
<html>
<head>
<title>{{ businessName }} - Checkout</title>
<link rel="stylesheet" href="/static/fontawesome/css/all.css">
<link rel="stylesheet" href="/static/fontawesome/css/brands.css">
{% include 'divs/theme.html' %}
</head>
<body>
{% include 'divs/navbar.html' %}
<div style="padding-left:16px">
  <center>
    <h2>Checkout <i class="fa-solid fa-credit-card"></i></h2>
    <p>${{ prc }}</p>
    <form method="POST">
    {% for f in paypros %}
    {% if mode in f['methods'] %}
      <button style="font-size: 15px;" type="submit" name='payment-{{ f["name"] }}'>Pay with {{ f['name'] }} <i class="fa-brands fa-cc-{{ f['name']|lower }}"></i></button><br>
    {% endif %}
    {% endfor %}
    </form>
    <p>
  </center>
</div>

</body>
{% include 'divs/footer.html' %}
</html>
