<div class="topnav">
  <a class="active" href="/">{{ businessName }}</a>
  <div class="dropdown">
    <button class="dropbtn">Services
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/dashboard/payments">Payments</a>
      <a href="/store">Order new services</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Help / Support
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/dashboard/support">Support Page</a>
      <a href="/dashboard/support/tickets">Tickets</a>
    </div>
  </div>
  <div class="search-container">
    <form action="/search">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
  {% if session['user'] %}
  <div style="float: right;" class="dropdown">
    <button class="dropbtn">
      <i class="fa-solid fa-user"></i>
    </button>
    <div class="dropdown-content">
      <a href="/dashboard"><i class="fa-solid fa-dashboard"></i> Dashboard</a>
      <a href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
    </div>
  </div>
  {% else %}
  <a href='/login' style="float:right"><i class="fa-solid fa-user-lock"></i></a>
  {% endif %}
</div>
