<div class="topnav">
  <a><img src='/static/logo.png' width="32px" height="32px"></img></a> <!-- Update -->
  <a class="active" href="/">{{ businessName }}</a>
  <a href="/">Home</a>
  <a href="/store">Store</a>
  <a href="/about">About</a>
  <a href="/contact">Contact</a>
  <div class="search-container">
    <form action="/search">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
  {% if session['user'] %}
  <a href='/logout' style="float:right"><i class="fa-solid fa-right-from-bracket"></i></a>
  <a href='/dashboard' style="float:right"><i class="fa-solid fa-user"></i></a>
  {% else %}
  <a href='/login' style="float:right"><i class="fa-solid fa-user-lock"></i></a>
  {% endif %}
</div>
