<div class="topnav">
  <a><img src='/static/logo.png' style="max-height: 32px; max-width: 64px;"></img></a> <!-- Update -->
  <a class="active" href="/">{{ businessName }}</a>
  <a href="/">Home</a>
  <a href="/store">Store</a>
  <a href="/about">About</a>
  <a href="/contact">Contact</a>
  <div class="search-container">
    <form action="/search">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
  {% if session['user'] %}
  <div style="float: right;" class="dropdown">
    <button class="dropbtn">
      <i class="fa-solid fa-user"></i>
    </button>
    <div class="dropdown-content">
      <a href="/dashboard"><i class="fa-solid fa-dashboard"></i> Dashboard</a>
      <a href="/settings"><i class="fa-solid fa-cog"></i> Settings</a>
      <a href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
    </div>
  </div>
  {% else %}
  <a href='/login' style="float:right"><i class="fa-solid fa-user-lock"></i></a>
  {% endif %}
</div>
