<!DOCTYPE html>
<html>
<head>
<title>{{ businessName }} - Login</title>
<link rel="stylesheet" href="/static/fontawesome/css/all.css">
<link rel="stylesheet" href="/static/fontawesome/css/brands.css">
{% include 'divs/theme.html' %}
</head>
<body>
{% include 'divs/navbar.html' %}
<div style="padding-left:16px">
  <h2>Login</h2>
  <p>Welcome back to {{ businessName }}.</p>
  <form method="POST">
    <input type="email" name="email" placeholder="Email*" required><br>
    <input type="password" name="password" placeholder="Password*" required><br>
    {{ hcaptcha }}
    <button type="submit">Login</button><br><br>
    {{ msg }}
    <hr>
  </form>
  <form method="POST">
    {% if googleLogin %}
    <button name='login-google' type="submit">Login with <i class="fa-brands fa-google"></i></button>
    {% endif %}
    {% if discordLogin %}
    <button name='login-discord' type="submit">Login with <i class="fa-brands fa-discord"></i></button>
    {% endif %}
    {% if githubLogin %}
    <button name='login-github' type="submit">Login with <i class="fa-brands fa-github"></i></button>
    {% endif %}
    <a href='/register'>Create an account</a> / <a href='/forgot-password'>Forgot Password</a>
  </form>
</div>

</body>
{% include 'divs/footer.html' %}
</html>
