<!DOCTYPE html>
<html>
<head>
<title>{{ businessName }} - Register</title>
<link rel="stylesheet" href="/static/fontawesome/css/all.css">
<link rel="stylesheet" href="/static/fontawesome/css/brands.css">
{% include 'divs/theme.html' %}
</head>
<body>
{% include 'divs/navbar.html' %}
<div style="padding-left:16px">
  <h2>Register</h2>
  <p>Signup to {{ businessName }} today.</p>
  <form method="POST">
    <input type="email" name="email" placeholder="Email*" required><br>
    <input type="password" name="password" placeholder="Password*" required><br>
    {{ hcaptcha }}
    <button type="submit">Register</button><br><br>
    {{ msg }}
    <hr>
  </form>
  <form method="POST">
    {% if googleLogin %}
    <button name='signup-google' type="submit">Signup with <i class="fa-brands fa-google"></i></button>
    {% endif %}
    {% if discordLogin %}
    <button name='signup-discord' type="submit">Signup with <i class="fa-brands fa-discord"></i></button>
    {% endif %} <!--<button name='signup-discord' type="submit"><i class="fa-brands fa-discord"></i></button>-->
    <a href='/login'>Have an account?</a>
  </form>
</div>

</body>
{% include 'divs/footer.html' %}
</html>
