<!DOCTYPE html>
<html>
<head>
<title>{{ businessName }} - Settings</title>
<link rel="stylesheet" href="/static/fontawesome/css/all.css">
<link rel="stylesheet" href="/static/fontawesome/css/brands.css">
{% include 'divs/theme.html' %}
</head>
<body>
{% include 'divs/dashnav.html' %}
<div style="padding-left:16px">
  <h2>Account Settings.</h2>
  <p>Manage your account settings.</p>
  <hr>
  <label for="email">Email: </label>
  <input type="text" name="email" placeholder="Email" value="{{ email }}" disabled>
  <br>
  <form method="POST">
    <button name='gen2FA'>Generate 2FA QrCode</button>
    <image src="{{ qr }}"></image>
  </form>
</div>

</body>
{% include 'divs/footer.html' %}
</html>
